.resultItem__label {
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--second-text);
}

.resultItem__value {
    font-size: 30px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .resultItem {
        width: 100%;
        margin: 7.5px 0;
    }
}
