:root {
    --main-accent: #B4D6EC;
    --main-accent-action: #1073AF;
    --main-accent-secong: #489DCF;
    --common-transition: 0.2s;
    --second-text: #7E878E;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'PFDinTextPro-Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #E5E5E5;
}

h1 {
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    body {
        background-color: #fff;
    }
}
